body{
    background: url("../img/sky.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    image-rendering: auto;
}

/* Logo */
#logo{
    background: rgb(28, 111, 235);
}


/* Nav Bar */
#menu ul li:hover{
    background: rgb(28, 111, 235);
}


/* Posts button */
.button-more{
    background: rgb(28, 111, 235);
}


/* Acordeon About me */
.ui-accordion .ui-accordion-header{
    background: rgb(28, 111, 235);
    font-weight: bold;
    color: black;
}
.ui-accordion .ui-accordion-header-active
{
    color: white;
}


/* Clock */
#clock{
    color: rgb(28, 111, 235);
    border: 2px dashed rgb(28, 111, 235);
}

/* Chess */
#chess{
    color: rgb(28, 111, 235);
}