body{
    background: url("../img/espacio.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    image-rendering: auto;
}


/* Logo */
#logo{
    background: indigo;
}


/* Nav Bar */
#menu ul li:hover{
    background: indigo;
}

/* Posts button */
.button-more{
    background: indigo;
}


/* Acordeon About me */
.ui-accordion .ui-accordion-header{
    background: indigo;
    font-weight: bold;
    color: black;
}
.ui-accordion .ui-accordion-header-active
{
    color: white;
}


/* Clock */
#clock{
    color: indigo;
    border: 2px dashed indigo;
}

/* Chess */
#chess{
    color: rgb(145, 57, 207);
}